* {
    box-sizing: border-box; 
}

body {
    background: url('../images/blue-bkgrnd.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Barriecito', cursive;
    color: white; 
}

h1 {
    font-size: 50px; 
    border: 2px groove white; 
    padding: 20px; 
}

.emo-btn:hover, #add-emo:hover {
    background-color: lightgray; 
}

p {
    font-size: 22px; 
    padding: 10px;  
}

.each-gif {
    border: 2px groove grey; 
    max-width: 100%;
    max-height: 100%; 
}